<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2>Title</h2>
        <b>Author</b>&nbsp;<a>Post DateTime</a>
        <div class="abstract">
            <b>Abstract</b>
        </div>
        <div class="content">
            <p>Content</p>
        </div>
        <div>
            List tag
        </div>
        <div class="card text-left mt-md-3 mb-md-3">
            <div class="card-header">
            Comments
            </div>
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h5 class="card-name">User Name</h5>
                <p class="card-text">Comment Content</p>
            </div>
        </div>
    </div>
    <div class="card sm-2"></div>
</div>