<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <h2>Title</h2>
        <b>Author</b>&nbsp;<a>Post DateTime</a>
        <div class="abstract">
            <b>Abstract</b>
        </div>
        <div class="content">
            <p>Content</p>
        </div>
        <div>
            List tag
        </div>
        <div class="card text-left mt-md-3 mb-md-3">
            <div class="card-header">
            Comments
            </div>
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h5 class="card-name">User Name</h5>
                <p class="card-text">Comment Content</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <h3>5 BÀI ĐĂNG LIÊN QUAN</h3>
        <div class="card mt-md-3 mb-md-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        
    </div>
</div>