<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <h2>Chuyện gì sẽ xảy ra sau ‘Tomb Raider: Huyền thoại bắt đầu’?</h2>
        <b>Author</b>&nbsp;<a>Post DateTime</a><br>
        <i class="fa fa-eye" aria-hidden="true"> 23 -</i>&ensp;<i class="fas fa-thumbs-up"> 456</i>
        <div class="abstract">
            <br><img src="/images/lion.jpg"><br>
            <b>Năm 2018, “Tomb Raider” với sự tham gia của Alicia Vikander nhận được phản hồi tích cực nhất định 
                từ phía khán giả. Hậu truyện đang được lên kế hoạch ra mắt trong năm 2021.</b>
        </div>
        <br>
        <div class="content">
            <p>Theo Digital Spy, phần tiếp thep của Tomb Raider sẽ có sự tham gia của Ben Wheatley 
                trong vai trò đạo diễn, thay thế cho Roar Uthaug từ phần trước.
            Biên kịch Amy Jump, vợ của Bean Wheatley, đảm nhận việc xây dựng kịch bản cho bộ phim do 
            nữ diễn viên chính thủ vai Lara Croft - Alicia Vikander - rất thích những sản phẩm của bà.
            Tên tuổi của Ben Wheatley được cộng đồng hâm mộ điện ảnh biết đến qua những bộ phim cult 
            (những tác phẩm dành cho một nhóm khán giả nhất định và khó được đón nhận bởi đông đảo đại chúng) 
            như Kill List (2011) và High Rise (2015). Cả hai đều được xây dựng từ kịch bản chấp bút bởi Amy Jump.
            </p>
        </div>
        <div>
            List tag
        </div>
        <div class="card text-left mt-md-3 mb-md-3">
            <div class="card-header">
                Comment:
            </div>
            <div class="form-group col px-md-5 mt-md-3 mb-md-3">
                <textarea class="form-control" rows="5" id="txtComment" name="txtComment"></textarea>
                <button type="submit" class="btn btn-primary mt-md-3">
                    {{!-- <i class="fa fa-plane" aria-hidden="true"></i> --}}
                    Send
                </button>
            </div>
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            {{#each this.comment}}
            <div class="col px-md-5 mb-md-3">
                    
                <div class="p-3 border">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/images/lion.jpg" class="img-thumbnail">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="card-name" id="username" name="username">{{UserName}}</h5>
                            <p class="card-text" id="txtComment" name="txtComment">{{Comment}}</p>
                        </div>
                    </div>
                </div>
                {{!-- <div class="p-3 border mt-md-3">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/images/lion.jpg" class="img-thumbnail">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="card-name">User Name</h5>
                            <p class="card-text">Comment Content</p>
                        </div>
                    </div>
                </div> --}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-sm-3">
        <h3>5 BÀI ĐĂNG LIÊN QUAN</h3>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        
    </div>
    {{!-- <div class="col-sm-1">

    </div> --}}
</div>