{{#section 'title'}}
Home
{{/section}}


<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<div class="body">This is body parser</div>
<i class="fab fa-500px"></i>