{{#section 'title'}}
Home
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/owl/assets/owl.theme.default.min.css">
{{/section}}

{{#section 'js'}}
<script src="/owl/owl.carousel.min.js"></script>
<script src="/js/home.js"></script>
{{/section}}

<main class="home-page">
	<section class="hostest-posting">
		<h5 class="hostest-posting__title"> Bài viết nổi bật </h5>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img src="/images/logo.png" class="card-img" alt="image posting">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
									<p class="card-text">Cứu hỏa</p>
									<p class="card-text"><small class="text-muted">19/06/2020</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img src="/images/logo.png" class="card-img" alt="image posting">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
									<p class="card-text">Cứu hỏa</p>
									<p class="card-text"><small class="text-muted">19/06/2020</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img src="/images/logo.png" class="card-img" alt="image posting">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
									<p class="card-text">Cứu hỏa</p>
									<p class="card-text"><small class="text-muted">19/06/2020</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img src="/images/logo.png" class="card-img" alt="image posting">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
									<p class="card-text">Cứu hỏa</p>
									<p class="card-text"><small class="text-muted">19/06/2020</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="most-view">
		<h5 class="most-view__title"> Bài viết xem nhiều nhất </h5>
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="newest">
		<h5 class="newest__title"> Bài viết mới nhất </h5>
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="top-ten">
		<h5 class="top-ten__title"> Top 10 bài viết mới nhất </h5>
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="/images/logo.png" class="card-img" alt="image posting">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Hành trình phá án đầy cam go của đội cứu hỏa </h5>
										<p class="card-text">Cứu hỏa</p>
										<p class="card-text"><small class="text-muted">19/06/2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
