<div class="container">
    <div class="row" style="margin: 15px;">
     <br>
        <div class="col-md-2">
           
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-listpost" role="tabpanel" aria-labelledby="v-pills-listpost-tab">
                    <h1 class="text-center" style="margin: 5px;">Thông tin cá nhân</h1>
                    <form method="POST">
                        <div class="form-group">
                            <a type="submit" class="btn btn-primary " href="/views/vwUser/updateInfo.hbs" role="button" title="Thêm mới">
                                <i class="fas fa-plus"></i>
                                Cập nhật thông tin cá nhân
                            </a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
