{{#section 'js'}}
<script src="/js/forgetPassword.js"></script>
{{/section}}

<div class="form-update-password">
    <form action="" method="post" onsubmit="return check();">
        <h2>Nhập Thông Tin</h2>
        <small class="text-danger" id="err">{{err}}</small>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="newPassword">Mật khẩu mới</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="repeatNewPassword">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword">
            </div>
        </div>
        <div class="submit-form button-handle-form ">
            <button type="submit" class="btn btn-primary">
                Xác Nhận
            </button>

            <button class="btn btn-danger ml-3">
                <a href="javascript: window.history.back()">Hủy</a>
            </button>
        </div>
    </form>
</div>