<div class="form-verify-token">
    <form action="" method="post">
        <h2>Nhập Thông Tin </h2>
        <small class="text-danger">{{err}}</small>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="token">Token</label>
                <input type="text" class="form-control" id="token" name="token">
            </div>
        </div>
        <div class="submit-form button-handle-form ">
            <button type="submit" class="btn btn-primary">
                Xác Nhận
            </button>

            <button class="btn btn-danger ml-3">
                <a href="javascript: window.history.back()">Hủy</a>
            </button>
        </div>
    </form>
</div>