<main class="admin-page">
    <div class="content">
        <div class="box">
            <form method="POST" class="frm">
                <div>
                    <h3 class="text-danger">ĐĂNG KÝ PREMIUM</h3>
                </div>

            </form>
        </div>
    </div>
</main>