{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>


<script>
  tinymce.init({
    selector: '#txtFullDes',
    height: 450,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>

<script>
  $('#avatar').fileinput({
    theme: 'fa',
    showCaption: true,
    dropZoneEnabled: true,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
    language: 'vi'
  });
</script>
{{/section}}

<br>
<div class="row">
  <br>
  <div class="col-md-9">
    <form method="post" novalidate enctype="multipart/form-data">
      <div class="card">
        <div class="card-header">
          Add New Page
        </div>
        <div class="card-body">
          <div class="form-group">
            Title: <input id="newsTilte" name="newsTilte" type="text"><br><br>
            {{!-- Avatar --}}
            Avatar:
            <div class="file-loading">
              <input id="avatar" name="avatar" type="file" multiple>
            </div>
            <label for=""></label>
            <textarea name="FullDes" id="txtFullDes" class="form-control" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-lg btn-success btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Submit
          </button>
        </div>
      </div>
      {{!-- <div class="card">
          <div class="card-header">
            WYSIWYG HTML Editor
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for=""></label>
              <textarea name="FullDes" id="txtFullDes" class="form-control" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-lg btn-success btn-block">
              <i class="fa fa-check" aria-hidden="true"></i>
              Submit
            </button>
          </div>
      </div> --}}
    </form>
  </div>
  <div class="col-md-3">
    <div class="dropdown mr-1">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Chuyên mục
      </button>
      <div class="dropdown-menu"  aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

</div>

