{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>


<script>
  tinymce.init({
    selector: '#txtFullDes',
    height: 450,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>

<script>
  $('#avatar').fileinput({
    theme: 'fa',
    showCaption: true,
    dropZoneEnabled: true,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
    language: 'vi'
  });
</script>
{{/section}}

<br>
<div class="row">
  <br>
  <div class="col-md-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-newpost-tab" data-toggle="pill" href="#v-pills-newpost" role="tab" aria-controls="v-pills-newpost" aria-selected="true">New Post</a>
      <a class="nav-link" id="v-pills-listpost-tab" data-toggle="pill" href="#v-pills-listpost" role="tab" aria-controls="v-pills-listpost" aria-selected="false">List Post</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-newpost" role="tabpanel" aria-labelledby="v-pills-newpost-tab">
        <form method="post" novalidate action="" enctype="multipart/form-data">
          <div class="card">
            <div class="card-header">
              Add New Page
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <label for="txtNewsID">News ID: </label>
                      <input id="txtNewsID" name="NewsID" class="form-control" type="text" readonly>
                    </div>
                    <div class="form-group">
                      <label for="txtNewsTitle">Title: </label>
                      <input id="txtNewsTitle" name="NewsTitle" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label for="txtAvatar">Avatar: </label>
                      <div class="file-loading">
                        <input id="avatar" name="avatar" type="file" multiple>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtAbstract">Abstract:</label>
                      <textarea name="Abstract" id="txtAbstract" class="form-control" cols="30" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="txtContent">Content:</label>
                      <textarea name="Content" id="txtContent" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="txtAuthor">Author: </label>
                      <input id="txtAuthor" name="Author" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                      <label for="txtDatePost">Date Post: </label>
                      <input id="txtDatePost" name="DatePost" class="form-control" type="datetime">
                    </div>
                    <div class="form-group">
                      <label for="txtCatChild">CatChild: </label>
                      <input id="txtCatChild" name="CatChild_ID" class="form-control" type="number">
                    </div>
                  </div>
                </div>
                <br>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-lg btn-success btn-block">
                <i class="fa fa-check" aria-hidden="true"></i>
                Post Now
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="v-pills-listpost" role="tabpanel" aria-labelledby="v-pills-listpost-tab">
        <div class="row">
          <div class="col-11">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h4>List Post</h4>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Abstract</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each LoadListPost}}
                  <tr>
                    <td>{{NewsID}}</td>
                    <td scope="row" class="text-left">{{NewsTitle}}</td>
                    <td scope="row" class="text-left">{{Abstract}}</td>
                    <td class="text-right">
                      <a class="btn btn-primary btn-sm" href="javascript:;" role="button">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="card-footer text-muted">
                Footer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

