<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><a class="navbar-brand" href="/"><img src="/images/logo.png" width="70" height="70"
                        alt="logo" loading="lazy"> Creator</a></div>
            <div class="col-md-4"><span>&copy; Copyright by 4T Team </span></div>
            <div class="col-md-4"><a href="/"><i class="fab fa-facebook"></i></a><a href="/"><i
                        class="fab fa-instagram"></i></a><a href="/"><i class="fab fa-twitter"></i></a><a
                    href="https://github.com/tranquoctrung1/BaoDienTu" target="_blank" rel="noreferrer"><i
                        class="fab fa-github"></i></a></div>
        </div>
    </div>
</footer>